html {
    /* font-size: 16pt; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    height: 98vh;
}

.inputArea {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 30%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    border-bottom: 1px solid grey;
    padding: 1em;
    min-height: 100px;
    max-height: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(243, 243, 243);
}

#create-post {
    /* max-height: 30px; */
    overflow-x: hidden;
    overflow-y: scroll;
}

article {
    padding: 1em 2em;
}

button:hover {
    cursor: pointer;
}
#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Scroll bar */
/* ===================================================================== */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Form */
/* ===================================================================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
input {
    padding: 0.5em;
    border: 1px solid grey;
}
textarea {
    padding: 0.5em;
}
#title {
    font-size: larger;
}
input[type=number] {
    width: 45%;
}
#latlong-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#entry {
    height: 100px;
    resize: none;
}
#submit-button {
    padding: 1em;
    background-color: rgb(56, 149, 255);
    color: white;
}

/* Post */
/* ==================================================================== */
#posts {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    height: 95%;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.post {
    display: none;
}
.post p, .post h2 {
    padding: 0 1em;
}
#closePosts {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    margin: 1%;
    border: none;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0.25);
    color: grey;
}
#closePosts:hover {
    cursor: pointer;
    background-color: white;
}
.postImage {
    height: 40%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    background-color: grey;
}

/* Footer */
/* ==================================================================== */
footer {
    text-align: center;
    height: 2vh;
    overflow-x: hidden;
    font-size: 10pt;
}